<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit page</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <style>
        h1 { font-size:18pt; font-weight:bold; color:gray; }
        body { font-size:13pt; color:gray; margin:5px 25px; }
        pre { border: solid 3px #ddd; padding: 10; }
        tr { margin:5px; }
        th { padding:5px; color:white; background:darkgray; }
        td { padding:5px; color:black; background:#f0f0f0;}
    </style>
</head>
<body>
<h1 th:text="${title}">Edit page</h1>
<table>
    <form action="/delete" method="post" th:object="${formModel}">
        <input type="hidden" name="id" th:value="*{id}" />
        <tr>
            <td><p th:text="|名前 *{name}"></p></td>
        </tr>
        <tr>
            <td><p th:text="|年齢 *{age}"></p></td>
        </tr>
        <tr>
            <td><p th:text="*{mail}"></td>
        </tr>
        <tr>
            <td><p th:text="*{memo}"></p></td>
        <tr>
            <td><input type="submit" value="delete"></td>
        </tr>
    </form>
</table>
</body>
</html>
